<div class="container view-instruction">
  <div class="header-instruction">
    <div class="title-instruction">
      <h1> {{ instruction.title }}
        <span class="badge badge-danger section">{{ instruction.section.title }}</span>
      </h1>
    </div>
    <rating [maxScore]="5" [forDisplay]="false" (rateChanged)="onRateChange($event)"></rating>
    {{ rate }}
    <div *ngIf="user && user.id == instruction.userId" class="buttons-instruction">
      <button class="btn btn-link button-view-instruction" (click)="editInstruction()">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>

      <button class="btn btn-link button-view-instruction" (click)="deleteInstruction()">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </div>
  </div>
  <div class="container-tags" *ngIf="instruction.tags">
    <label class="label-style title-tag"> {{'Tags'|translate}}</label>
    <a *ngFor="let tag of instruction.tags" (click)="switched(tag)">
      <span class="glyphicon glyphicon-tag tag"></span>{{ tag }}
    </a>
  </div>
  <div *ngFor="let step of instruction.steps">
    <div class="panel panel-default">
      <app-view-step [step]="step" [hidePosition]="instruction.steps.length == 1"></app-view-step>
    </div>
  </div>

  <div class="comments">
    <app-comments></app-comments>
  </div>
</div>
