input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}
.form-control{
  position: relative;
  max-width: 500px;
  left: 50px;
}

.form {
  margin-top: 5px;
  margin-left: 50px;
}
.alert {
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 3px;
}
