<div class="container">
  <table class="table_dark">
    <th>{{'Scan'|translate}}</th>
    <th>{{'ConfirmInformation'|translate}}</th>
    <th class="settings-column-title"></th>

    <tr *ngFor="let message of messages" class="one-message">
      <td class="user-document">
        <img src="{{message.image}}" class="document-image">
      </td>

      <td>
        <tr class="text-confirm">
          <div>
            <label class="label-style">{{'FirstName'|translate}}:</label>
            <span>{{ message.user.firstName }}</span>
          </div>
          <div>
            <label class="label-style">{{'LastName'|translate}}:</label>
            <span>{{ message.user.lastName }}</span>
          </div>
          <div>
            <label class="label-style">{{'Nick'|translate}}:</label>
            <span>{{ message.user.userName }}</span>
          </div>
          <div>
            <label class="label-style">{{'email'|translate}}:</label>
            <span>{{ message.user.email }}</span>
          </div>
          <div>
            <label class="label-style">{{'Description'|translate}}:</label>
            <span>{{ message.text }}</span>
          </div>
        </tr>
      </td>

      <td class="setting-column-body">
        <div class="dropdown settings" dropdown>
          <button class="btn btn-primary" dropdown-open>
            <span class="glyphicon glyphicon-cog"></span>
          </button>
          <ul class="dropdown-menu" style="left: 0;">
            <li><a (click)="confirm(0,message.idmessage)">{{'Confirm'|translate}}</a></li>
            <li><a (click)="confirm(1,message.idmessage)">{{'UnConfirm'|translate}}</a></li>
          </ul>
        </div>
      </td>

    </tr>
  </table>
</div>
