<div class="row">
  <div>
    <div class="">
      <!--<div class=" col-md-2" style="margin-right: 20px">&lt;!&ndash;you can add jumbotron here&ndash;&gt;</div>-->
      <div class="col-md-9" style="margin-left: 5px;">
        <div class="row jumbotron add_instr_form" style="padding-right: 0">
          <div class="form-group title_container" ><!--ngClass="{{isTitleCorrect ? 'has-success':''}}"-->
            <div style="display: flex;">
              <input type="text" [(ngModel)]="project.name" class="form-control"
                     placeholder="{{'NameProject' | translate}}" style="width: 90%;">
                  <!--   (change)="checkTitle()" (input)="checkTitle()"-->


              <button [routerLink]="['/profile/prew-inst']" type="button" class="add_btn btn btn-success" title="{{'PREVIEW' | translate}}" style="width: 10%;margin: 2px 5px;">
                <i class="glyphicon glyphicon-eye-open"></i>
              </button>
            </div>
          </div>



<!--          <span class="help-block error" *ngIf="formErrors.titleInstruction" style="margin-left: 15px">
                {{ formErrors.titleInstruction | translate}}
              </span>
          <div>
            <tag-input style="position:relative; max-width: 1400px; left: 20px;" [(ngModel)]='tags' [editable]='true' (onTagEdited)="onTagEdited($event)" [ngModelOptions]="{standalone: true}"></tag-input>
          </div>-->



         <!-- <a id="tag-cloud" *ngFor="let tag of instruction.tags">
            <label class="btn btn-default btn-xs tag">
              {{tag.name}}  <i class="glyphicon glyphicon-remove small"></i>
            </label>
          </a>-->
          <div class="input-group" style=" margin-top: 5px">
            <input type="text" [(ngModel)]="newTag.name" class="form-control" placeholder="{{'NEW_TAG' | translate}}">
            <span class="input-group-btn">
              <button class="btn btn-default" (click)="addTag()" type="button" style="margin-right: 10px;">{{'ADD_TAG' | translate}}</button>
            </span>
          </div>
   <!--       <div class="row steps_container" >
            <div dnd-sortable-container [sortableData]="containers" [dropZones]="['container-dropZone']" id="steps">
              <div *ngFor="let container of containers; let i = index" dnd-sortable [sortableIndex]="i">
                <div class="col-md-4" title="{{'STEP' | translate}} {{i+1}}">
                  <div class="panel panel-muted ">
                    <div class="panel-body">
                      <a class="text-muted" style="font-size: 30px;float: left; "><b >{{i+1}} </b></a>
                      <div class="col-xs-10" >
                        <div class="text" style="font-size: 13px;">
                          {{container.title}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
    <!--        <button type="button" [disabled]="!isTitleCorrect" class="col-md-4 btn" title="{{'ADD_STEP' | translate}}"
                    [routerLink]="['/profile/add-step-inst']" (click)="getTitleInst()"
                    style="padding: 0; border-width: 0; margin-left: 15px; margin-bottom: 10px;">
              <div class="panel panel-default" style="margin-bottom: 0; height: 84px;">
                <div class="panel-body text-success" style="text-align: center;" >
                  <span class="glyphicon glyphicon-plus text-muted" style="font-size: 40px"></span>
                </div>
              </div>

            </button>-->
          </div>
          <div class="form-group">
         <!--   <button type="button" [disabled]="!isTitleCorrect || !isContainers" class="add_inst_btn btn btn-success" (click)="saveAll()">
              {{'SAVE' | translate}}
            </button>-->

            <button type="button" class="add_inst_btn btn btn-danger">
              {{'CANCEL' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--
</div>
-->


<!--
<form #form="ngForm"   role="form" *ngIf="authGuard.isActivate() == true" (ngSubmit)="sendData(form.value)">
  <div class="pos">
    <input type="text" [(ngModel)]="project.name" name="name" class="nameproject" id="name-project" placeholder="{{'NameProject'|translate}}">
  </div>

  <div class="project-page">
  <div  align="center">
  <div class="panel" id="imagearea" style="position: relative; max-width: 1400px;background: cornsilk">

    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs" id="photo">

      <div class="panel panel-default" style=" position: absolute;width: 300px; height: 200px;background: cornsilk">
        <div class="panel-body" >
          <div class="media">
            <div align="center">
              <img id="id-area-image" class="img-responsive" name="project_image" src={{project.image}}/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <app-cloudinary (upImgStep)="updateImg($event)"></app-cloudinary>
    </div>

  </div>


  <br>
  <div class="pos">
  <input type="text" [(ngModel)]="project.purpose" name="purpose" class="nameproject" id="purpose-project" placeholder="{{'Purpose'|translate}}">
  </div>
  <div class="pos">
    <textarea class="description" [(ngModel)]="project.content" id="text-area-component" name="descriptionProject" placeholder="{{'DescriptionProject'|translate}}"></textarea>
  </div>
  <div class="panel-mony panel panel-default" style="width:1400px;background: cornsilk">
    <div class="panel-body">
      <div class="row">
        <h2 class="col-lg-6 col-xs-6 col-sm-6" >{{'DateProject'|translate}}</h2>
        <div>
          <ng2-datepicker [(ngModel)]="project.dwy" [ngModelOptions]="{standalone: true}"
                          style="position:relative; top: 20px;" ></ng2-datepicker>
        </div>
      </div>
    </div>
    </div>
<div class="panel-mony panel panel-default" style="width:1400px;background: cornsilk">
  <div class="panel-body">
  <div class="row">
    <h2 class="col-lg-6 col-xs-6 col-sm-6"  >{{'RequerMoney'|translate}}</h2>
    <div>
      <input type="text" style="position: absolute; top: 30px;right: 190px" [(ngModel)]="project.money" id="money-field" name="money" class="mony"/>
    </div>
  </div>
  </div>
</div>
  <div>
  <tag-input style="position:relative; max-width: 1400px; left: 20px;" [(ngModel)]='tags' [editable]='true' (onTagEdited)="onTagEdited($event)" [ngModelOptions]="{standalone: true}"></tag-input>
</div>
  <div class="container">
  <div align="center" class="createButton">
    <input
      type="submit" name="project-submit" id="project-submit" tabindex="3"
      class="btn btn-success btn-block" style="margin-bottom: 50px; width: 300px;" value="{{'Create'| translate}}">
  </div>
  </div>
</div>
</div>
</form>
<div style="position:relative; top: 80px" *ngIf="authGuard.isActivate() == false">
  Sorry. Login or Get confirm from admin.
</div>
-->
