<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" aria-hidden="true">x</a>
      <h1 class="text-center">{{'Logout'|translate}}?</h1>
    </div>
    <div class="modal-footer" style="border-top: 0px; text-align: center;">
      <button type="button" (click)="logout()" class="btn btn-info"  style="min-width: 75px;" data-dismiss="modal">
        {{"Yes" | translate}}</button>
      <button type="button" class="btn btn-default" style="min-width: 75px;" data-dismiss="modal">
        {{"No" | translate}}</button>
    </div>
  </div>
</div>
