.navbar {
  padding-right: 30px;
  padding-left: 30px;
}

.settings {
  position: relative;
  float: right;
}
.dropdown-menu {
  margin-right: 5px;
}

.login {
  position: relative;
  float: right;
  margin: 25px 5px;
}
.logout {
  position: relative;
  float: right;
  margin: 25px 5px;
}
.search {
  position: relative;
  float: right;
  margin: 25px 5px;
}
.text-log {
  position: relative;
  height:100%;
}
.txt-field {
  width: 300px;
  height: 30px;
  margin-right: 5px;
}

.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.9);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.9);
  top:100px;
}
.panel-login>.panel-heading {
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #59B2E0;
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E0;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #59B2E0;
  border-color: #59B2E0;
}

.redLine {
  border-left: 3px solid red !important;
  box-shadow: 0 0 1px 0 red !important;
  background-color: transparent !important;
}

.greenLine {
  border-left: 3px solid #4CAF50 !important;
  box-shadow: 0 0 1px 0 #4CAF50 !important;
  background-color: transparent !important;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.btn_switch label{
  text-indent: -999px;
  margin:0 ;
  width: 36px;
  height: 20px;
  background: #e5e5e5;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}
.btn_switch label:after{
  content: ' ';
  position: absolute;
  left: 2px;
  top: 2px;
  display: block;
  background: #073642;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.9);
}
.btn_switch input[type='checkbox']:checked + label{
  background: #2aa198;
}
.btn_switch input{
  display:none;
}
.btn_switch input[type='checkbox']:checked + label:after{
  left: 17px;
  border-color: #06829e;

}

/*OPTIONAL*/
.btn_switch_outer {
  padding:50px;
}
.btn_switch_label {
  float: left;
  margin: 2px 10px 0 0;
  color: #666;
}

