<nav id="navbar-header" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand text-log" href="/">
        <h5>HFP - habrahabr for people</h5>
        <!-- TODO logotype image -->
       <!-- <img
        src="http://res.cloudinary.com/crowbanding/image/upload/v1506270162/coollogo_com-15493370_ax8zvg.png"
        style="height: 50px"/>-->
      </a>
    </div>

    <div class="wrapper-buttons">
      <button  class="btn btn-primary"
               *ngIf="authGuard.isActivate() == true"
               title="{{'SettingsProfile'|translate}}"
               (click)="router.navigate(['profile'])">
          <span class="glyphicon glyphicon-user"></span>
      </button>

      <button class="login btn-primary btn"
              id="login-button-header"
              *ngIf="authGuard.isActivate() == false"
              data-toggle="modal"
              data-target="#openModal"
              title="{{'login'|translate}}">
        <span class="glyphicon glyphicon-log-in"></span>
      </button>

      <button class="btn btn-primary login"
              id="logout-button-header"
              *ngIf="authGuard.isActivate() == true"
              data-toggle="modal"
              data-target="#openLogout"
              title="{{'Logout'|translate}}">
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
      </button>

      <div class="dropdown settings" dropdown title="{{'Settings'|translate}}">
        <ul class="nav nav-pills">
          <button class="btn btn-primary" dropdown-open style="position:relative; margin: 10px 5px 0 0;"><span
            class="glyphicon glyphicon-cog"></span></button>
        </ul>
        <ul class="dropdown-menu" style="left: 0;">
          <li><a (click)="switchLanguage('en')">{{'en'|translate}}</a></li>
          <li><a (click)="switchLanguage('ru')">{{'ru'|translate}}</a></li>
          <li>
            <a>
              <div style="float: left">{{'NIGHT_MODE'|translate}}</div>
              <a class="btn_switch">
                <input type="checkbox" name="switch" id="switch" [(ngModel)]="mode" (change)="changeMode()">
                <label for="switch" style="margin-left: 10px"></label>
              </a>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div id="openModal" class="modal fade" aria-labelledby="openModal" tabindex="-1" aria-hidden="true" role="dialog">
  <app-login></app-login>
</div>
<div id="openLogout" class="modal fade" aria-hidden="true" aria-labelledby="openLogout" tabindex="-1" role="dialog">
  <app-logout></app-logout>
</div>

