.button-profile {
  margin: 2px;
  padding: 0;
  position: absolute;
  top: 20px;
}

.button-delete {
  right: 20px;
}

.button-edit {
  right: 40px;
}

.tag {
  margin: 2px;
}

.no-tags {
  font-size: 16px;
}

.alert-block {
  margin-bottom: 0;
}

.label-tag-title {
  font-size: 18px;
  font-weight: normal;
}

.tag-name {
  font-size: 16px;
}
