<a class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="alert alert-dismissible alert-primary">
      <!--TODO check user id and hide buttton-->
      <div *ngIf="isProfile">
        <button class="btn btn-primary button-profile button-delete" >
          <span class="glyphicon glyphicon-trash" (click)="deleteInstruction()"></span>
        </button>
        <!--TODO redirect to edit instruction-->
        <button class="btn btn-primary button-profile button-edit" >
          <span class="glyphicon glyphicon-pencil" (click)="editInstruction()"></span>
        </button>
      </div>
      <h4 class="alert-heading">{{ 'NameInstruction'|translate }} : <a (click)="viewInstruction()">{{ instruction.title }}</a></h4>
      <h4> {{'Section'|translate}} : {{ instruction.section.title}} </h4>
      <h4> {{'RatingProject'|translate}} : {{ instruction.rating }} </h4>
      <div *ngIf="instruction.tags">
        <label class="label-style"> {{'Tags'|translate}}</label>
        <a *ngFor="let tag of instruction.tags" (click)="switched(tag)"><span class="glyphicon glyphicon-tag tag"></span>{{ tag }}</a>
      </div>
      <!--TODO star-rating-->
    </div>
</a>
