<form class="register-form" #form="ngForm" (ngSubmit)="updateProfile(form.value)" role="form" style="display: inline">
  <div class="container">
    <div class="panel" id="imagearea">
      <div class="panel-default">
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs" id="photo">
          <div align="center" style="margin:15px">
            <img id="id-area-image" class="img-responsive" src={{user.image}}/>
          </div>
        </div>

        <div>
          <app-cloudinary (upImgStep)="updateImg($event)"></app-cloudinary>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="row">
        <div class="col-xs-6 h-100">
          <div class="form-group-label">
            <label class="label-style">{{'FirstName'|translate}}</label>
            <input type="text"
                   [(ngModel)]="firstName"
                   name="firstname"
                   id="firstname"
                   class="form-control"
                   value=""
                   placeholder="{{'newFirstName'|translate}}"
                   #firstname="ngModel"
                   required>

            <label class="label-style">{{'LastName'|translate}}</label>
            <input type="text"
                   [(ngModel)]="lastName"
                   name="lastname"
                   id="lastname"
                   class="form-control"
                   value=""
                   placeholder="{{'newLastName'|translate}}"
                   #lastname="ngModel"
                   required>

            <label class="label-style">{{'email'|translate}}</label>
            <input type="text"
                   [(ngModel)]="email"
                   name="emailValidation"
                   id="emailValidation"
                   class="form-control"
                   value=""
                   placeholder="{{'newemail'|translate}}"
                   #emailValidation="ngModel"
                   required email>
            <div [hidden]="emailValidation.valid || emailValidation.pristine" class="alert">
              {{'IncorrectEmail'|translate}}
            </div>
          </div>
        </div>


        <div class="col-xs-6">
          <div class="form-group">
            <label class="label-style">{{'Login'|translate}}</label>
            <input type="text"
                   [(ngModel)]="login"
                   name="user-login"
                   id="user-login"
                   class="form-control"
                   value=""
                   placeholder="{{'NewLogin'|translate}}"
                   #userLogin="ngModel"
                   required pattern="^[A-Za-z]+$">
            <div *ngIf="userLogin.invalid && userLogin.dirty" class="alert">
              {{ 'IncorrectNick'| translate }}
            </div>

            <label class="label-style">{{'password'|translate}}</label>
            <input type="password"
                   [(ngModel)]="password"
                   name="passwordValidation"
                   id="passwordValidation"
                   class="form-control"
                   value=""
                   placeholder="{{'newpassword'|translate}}"
                   #passwordValidation="ngModel"
                   required pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z]).{8,}$">
            <div [hidden]="passwordValidation.valid || passwordValidation.pristine" class="alert">
              {{'IncorrectPassword'|translate}}
            </div>

            <label class="label-style">{{'confirmPassword'|translate}}</label>
            <input type="password"
                   [(ngModel)]="confirmPassword"
                   name="confirmPasswordValidation"
                   id="password-confirm"
                   tabindex="4"
                   class="form-control"
                   placeholder="{{'confirmPassword'|translate}}"
                   #confirmPasswordValidation="ngModel"
                   required pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z]).{8,}$">
            <div *ngIf="confirmPasswordValidation.invalid && confirmPasswordValidation.dirty" class="alert">
              {{ 'IncorrectPassword'| translate }}
            </div>
            <div *ngIf="confirmPasswordValidation.dirty && !checkConfirmPassword()" class="alert">
              {{ 'ErrorConfirm'| translate }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div align="center">
      <input
        [disabled]="checkEmptyFields() ||
                  (userLogin.invalid && userLogin.dirty) ||
                  (emailValidation.invalid && emailValidation.dirty) ||
                  (passwordValidation.invalid && passwordValidation.dirty) ||
                  (confirmPasswordValidation.invalid && confirmPasswordValidation.dirty) ||
                  ((confirmPasswordValidation.dirty || passwordValidation.dirty) && !checkConfirmPassword())"
        type="submit"
        name="save-submit"
        id="save-submit"
        tabindex="3"
        class="saveSubmit btn btn-success btn-block"
        value="{{'SAVE'| translate}}">
    </div>

  </div>
</form>

