.wrapper-instruction {
  margin-left: auto;
  margin-right: auto;
}

.instruction {
  display: inline-flex;
  width: 100%;
  background-color: rgba(111, 112, 123, 0.45);
  margin-left: 1px;
}

.form-group {
  width: 30%;
  margin: 10px auto 10px auto;
}

.name-instruction {
  width: 45%;
}

.section {
  width: 25%;
}

.buttons {
  width: 16%;
  padding-top: 25px;
}
