<div class="wrapper-instruction">
    <div class="row instruction">
        <div class="form-group name-instruction">
            <label>{{'NameInstruction'|translate}}</label>
            <input type="text" [(ngModel)]="project.title"
                   name="nameOfInstruction"
                   class="form-control"
                   id="name-of-instruction"
                   #nameOfInstruction="ngModel"
                   placeholder="{{'Enter'|translate}}"
                   required>
        </div>

        <!--TODO validate for select list (disable button)-->
        <div class="form-group section">
            <label for="selectTopic">{{'SelectTopic' | translate }}</label>
            <select class="form-control"
                    id="selectTopic"
                    [(ngModel)]="currentTopic"
                    #topic="ngModel">
                <option *ngFor="let section of sections" [ngValue]="topic">
                  {{ section.title }}
                </option>
            </select>
        </div>
        <div class="form-group buttons">
            <button class="btn btn-success">{{ 'SAVE' | translate }}</button>
            <button class="btn btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
    </div>
    <tag-input [(ngModel)]='tags'
               [editable]='true'
               (onTagEdited)="onTagEdited($event)"
               [ngModelOptions]="{standalone: true}">
    </tag-input>
</div>
<app-list-step></app-list-step>
