input.ng-touched.ng-invalid {border:solid red 2px;}

.wrapper-step {
  margin-top: 15px;
  background-color: rgba(111, 112, 123, 0.45);
  padding: 20px;
  border-radius: 3px;
}

.header-step input {
  min-width: 300px;
  border: 2px solid rgb(220, 228, 236);
  border-radius: 3px;
  font-size: 18px;
}

.step-name {
  font-weight: bold;
  font-size: 18px;
  padding: 0 15px;
}

.step-image {
  max-width: 100px;
  max-height: 100px;
  margin: 5px;
}

.step-image-container {
  display: inline-flex;
}

.step textarea {
  border: 2px solid rgb(220, 228, 236);
  border-radius: 3px;
  margin: 10px auto 0 auto;
  width: 100%;
  min-height: 150px;
}

.step-button button{
  padding: 5px 10px !important;
  font-size: 14px !important;
}

.step-number {
  padding: 8px 10px 10px 10px
}

.step-text {
  padding: 10px 15px;
  font-size: 16px;
}

.textarea{
  display: flex;
}

.textarea textarea {
  width: 70%;
  margin: 15px 0 20px 0;
}

.textarea .cloud-img {
  width: 30%;
}
