<div class="wrapper-step">
    <div class="step">
        <div *ngIf="edit">
            <div class="header-step">
                <input type="text"
                       [(ngModel)]="step.name"
                       id="name-of-step"
                       #nameOfStep="ngModel"
                       placeholder="{{'TitleOfStep'|translate}}"
                       required>
            </div>

            <div class="textarea">
                <textarea class="description"
                          [(ngModel)]="step.text"
                          id="text-area-component"
                          name="stepDescription"
                          placeholder="{{'StepDescription'|translate}}"
                          #stepDescription="ngModel"
                          required>
                </textarea>
                <div class="cloud-img">
                  <app-cloudinary *ngIf="edit" (upImgStep)="updateImg($event)"></app-cloudinary>
                </div>
            </div>
        </div>
        <div *ngIf="!edit">
            <div class="header-step">
                    <span *ngIf="!isStory" class="badge badge-info step-number">
                      {{'Step' | translate}} {{ step.position }}
                    </span>
                <span class="step-name">{{step.name}}</span>
            </div>
            <div class="textarea step-text">
                    <p> {{ step.text }} </p>
            </div>
        </div>

        <div *ngIf="step.arrayOfImages">
            <div  *ngFor="let image of step.arrayOfImages" class="step-image-container">
              <img id="id-area-image" class="img-responsive step-image" name="image" src="{{image}}"/>
            </div>
        </div>
        <div class="step-button">
            <button  *ngIf="edit"
                     (click)="addStep(step)"
                      class="btn btn-success">
              {{ 'SAVE' | translate }}
            </button>
            <button  *ngIf="step.position !== 0 && !edit"
                     (click)="edit = !edit ; buttonEdit = !buttonEdit"
                     class="btn btn-warning"
                      >
              {{'Edit'| translate}}
            </button>
            <button class="btn btn-danger"
                    [disabled]="!step.id && !edit"
                    (click)="deleteStep(step)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
    </div>
</div>
