.profile-photo {
  text-align: center;
}

.profile {
  margin-top: 5px;
}

.profile-info {
  right: 13px;
}

.profile-edit-button {
  min-width: 100px;
}

.create-instruction-button {
  margin: 15px;
  display: block;
}

.profile-info-instruction-message {
  font-size: 22px;
  font-style: oblique;
  display: block;
  margin-top: 30px;
}

.user-image {
  max-width: 500px;
  max-height: 500px;
}

.icon {
  margin-right: 5px;
}

.label-user-info-title {
  font-size: 20px;
  color: #2984c7;
}

.label-user-info {
  font-size: 22px;
}
