<div class="col-lg-3 col-md-3 hidden-sm hidden-xs" id="photo">
  <div class="container">
  <div class="panel panel-default" style="width: 500px">
      <div class="media">
        <div align="center">
          <img id="default-img" *ngIf="!user.image"
               src="http://res.cloudinary.com/crowbanding/image/upload/c_lfill,h_300,q_100,r_0,w_200/a_0/sy6afdedllqhpbh8zebq.jpg"/>
          <div >
            <img id="cloud-img" class="user-image" style="width: 500px" *ngIf="user.image" src='{{user.image}}'/>
          </div>
          <div id="info-user">
          <h1 class="panel-title pull-left" style="font-size:30px;">{{user.firstName}}  <small>{{user.userName}}</small>  {{user.lastName}} </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
